requests
urllib3<2
mlx-whisper
sounddevice
numpy
scipy
soundfile
speechbrain
huggingface-hub<0.25.0
torch
pyautogui
# pyobjc-framework-Quartz # Required for detailed window management on macOS if needed later
pyaudio
keyboard
humanize
python-dotenv
jsonschema
httpx
